<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', {title: 'Tutorial list' }) %>
</head>

<body>
  <%- include('includes/header') %>

    <% if(numberOfTutorials===0) {%>
      <h1>No tutorials to display</h1>
      <% }else{ %>

        <h1>Tutorial list</h1>
        <p>You have <%= numberOfTutorials %> tutorials</p>
        <%}%>
          <form action="/tutorials" method="GET">
            <!-- Because we don't want to have a input field where the user is able to enter something. -->
            <!--Instead we want to have a predefined a value which we as a developers defined -->
            <!--We are using GET because we are not handling user data. We want to reload the page. -->
            <input type="hidden" value="<%= nextOrder %>" name="order">
            <button>Change order</button>
          </form>
          <ul>
            <% for(const tutorial of tutorials) { %>
              <%- include('includes/tutorials/tutorial-items', {tutorial: tutorial}) %>
                <%}%>
          </ul>
</body>

</html>