<li>
  <h2>
    <%= tutorial.coursename%>
  </h2>
  <a href='/tutorials/<%= tutorial.id%>'>View tutorial</a>
  <p>Register with:<%= tutorial.email%>
  </p>
  <p>
    <%= tutorial.username%>
  </p>
  <p>
    <%= tutorial.date%>
  </p>
</li>